@charset "UTF-8";
/*Variables con paleta de colores diseño*/
/*Gradients*/
/*Circulo*/
/* Neutral*/
/*Fondos ocapos*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.componente {
  background-color: white;
  font-family: "Hanken Grotesk", sans-serif;
}

.cabecera {
  font-weight: 600;
  font-size: 18px;
}

#yres {
  color: grey;
}

.resultado {
  background: linear-gradient(180deg, hsl(256, 72%, 46%) 61%, hsl(241, 72%, 46%) 100%);
  border-radius: 0.8rem;
  color: white;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding: 1.5rem;
}
.resultado #circulo {
  align-content: center;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  background: linear-gradient(180deg, hsl(241, 72%, 46%) 61%, hsl(256, 72%, 46%) 100%);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.resultado #circulo .texto-resul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resultado #circulo .texto-resul #res {
  font-size: 4rem;
  font-weight: 800;
}
.resultado #circulo .texto-resul #hundred {
  color: grey;
  margin-top: -13px;
}
.resultado .parraf #word-res {
  font-size: 30px;
  font-weight: 700;
}
.resultado .parraf #parrafo {
  color: gray;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.sumario {
  background-color: white;
  padding: 1.5rem;
  border-radius: 0 0.8rem 0.8rem;
  box-shadow: 2rem 0 2rem rgba(128, 128, 128, 0.301);
  -webkit-border-radius: 0 0.8rem 0.8rem;
  -moz-border-radius: 0 0.8rem 0.8rem;
  -ms-border-radius: 0 0.8rem 0.8rem;
  -o-border-radius: 0 0.8rem 0.8rem;
}
.sumario .notas {
  border-radius: 0.28rem;
  -webkit-border-radius: 0.28rem;
  -moz-border-radius: 0.28rem;
  -ms-border-radius: 0.28rem;
  -o-border-radius: 0.28rem;
}
.sumario .notas .row {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0.8rem auto 0.8rem auto;
}
.sumario .notas span b {
  color: black;
}
.sumario #reaccion {
  background-color: rgba(255, 87, 87, 0.068);
}
.sumario #reaccion .cien {
  color: gray;
}
.sumario #reaccion .textresultado {
  color: #ff5757;
}
.sumario #memoria {
  background-color: rgba(255, 177, 31, 0.068);
}
.sumario #memoria .cien {
  color: gray;
}
.sumario #memoria .textresultado {
  color: #ffb01f;
}
.sumario #verbal {
  background-color: rgba(0, 189, 145, 0.068);
}
.sumario #verbal .cien {
  color: gray;
}
.sumario #verbal .textresultado {
  color: #00bd91;
}
.sumario #visual {
  background-color: rgba(17, 37, 212, 0.068);
}
.sumario #visual .cien {
  color: gray;
}
.sumario #visual .textresultado {
  color: #1125d4;
}
.sumario .boton .bn {
  display: flex;
  justify-content: center;
}
.sumario .boton button {
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  background-color: hsl(224, 30%, 27%);
  border: none;
  height: 38px;
  width: 100%;
  color: white;
}
.sumario .boton button:hover {
  background-color: hsl(241, 72%, 46%);
}

@media (min-width: 481px) and (max-width: 768px) {
  body {
    display: block;
  }
  .row {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  body {
    display: block;
  }
  .row {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=summary-component.css.map */
